@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes footstep {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes goldCup {
    from {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(0deg);
    }
}